<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%X{tenantId}:%X{userId}] %logger{40} - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="com.github.dockerjava" level="WARN"/>
  <logger name="org.testcontainers" level="INFO"/>
  <logger name="com.remotesupport.backend" level="DEBUG"/>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
